.main-panel {
    background-color: greenyellow;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    width: 640px;
    height: 960px;
}

.content-panel {
    min-height: 300px;
    background-color: lightgoldenrodyellow;
}
.menu-panel {
    background-color: black;
    color: white;
}
.footer-panel {
    background-color: black;
    color: white;
    padding: 5px;
}
.bottom-panel {
    background-color: white;
    position: relative;
    left: -1px;
    width: 641px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-style: dashed;
    height: 100%;
}

.users-panel {
    padding: 10px;
}
.profile-panel {
    padding: 10px;
}
.list-panel {
    padding: 10px;
}
.home-panel {
    padding: 10px;
}
.contactus-panel {
    padding: 10px;
}
.welcome-panel {
    padding: 10px;
}

.menu-link-panel {
    clear: none;
    float: right;
    width: 250px;

}
.menu-link-item {
    float: right;
}
.login-panel {
    padding: 10px;
    text-align: center;
}
.register-panel {
    padding: 10px;
    text-align: center;
}
.register-form {
    text-align: center;
}
.vertical-spacer-100 {
    min-height: 100px;
}
.vertical-spacer-50 {
    min-height: 50px;
}
.horizontal-menu-spacer {
    min-width: 200px;
    color: #000000;
}
table {
    margin: 0 auto;
}
#register-message {
    font-size: 16px;
    color: orange;
}
.register-message-panel {
    min-height: 35px;
}