html {
    -webkit-text-size-adjust:auto
}
.main-panel {
}

.content-panel {
    background-color: lightgoldenrodyellow;
}
.menu-panel {
    background-color: black;
    color: white;
}
.footer-panel {
    background-color: black;
    color: white;
    padding: 5px;
}
.users-panel {
    padding: 10px;
}
.profile-panel {
    padding: 10px;
}
.list-panel {
    padding: 10px;
}
.home-panel {
    padding: 10px;
}
.contactus-panel {
    padding: 10px;
}
.welcome-panel {
    padding: 10px;
}

.menu-link-panel {
    clear: none;
    float: right;
}

.menu-link-item {
    float: right;
}
.login-panel {
    padding: 10px;
    text-align: center;
}
.register-panel {
    padding: 10px;
    text-align: center;
}
.register-form {
    text-align: center;
}
.vertical-spacer-100 {
    min-height: 100px;
}
.vertical-spacer-50 {
    min-height: 50px;
}
.horizontal-menu-spacer {
    min-width: 200px;
    color: #000000;
}
table {
    margin: 0 auto;
}
#register-message {
    font-size: 16px;
    color: orange;
}
.register-message-panel {
    min-height: 35px;
}
.input-text-field {
    -webkit-border-radius: 10px;
}
