<div content-for="title">
    <span>Spill</span>
</div>


<div class="scrollable">
    <div class="scrollable-content container section">

        <form action="" id="">

            <div bs-panel title="">
                <span style="font-size: 16px;color: red;">{{getResult()}}</span>
            </div>

            <div bs-panel title="Dealer Kort">
                <img class="player-image"
                     ng-repeat="image in getDealerImages()"
                     src="assets/images/cards/{{image}}" />
                <span>Dealer Poeng: {{getDealerPoints()}}</span>
                <span ng-show="isDealerBust()" style="color: red;">BUSTED</span>
            </div>


            <div bs-panel title="Dine Kort">
                <img class="player-image"
                     ng-repeat="image in getPlayerImages()"
                     src="assets/images/cards/{{image}}" />
                <span>Poeng: {{getPlayerLowestSoftPoints()}}</span><span ng-show="playerHasDifferentHardPoints()"> (Soft)</span>
                <span ng-show="playerHasDifferentHardPoints()">{{getPlayerHighestPoints()}} (Hard)</span>
                <span ng-show="isBust()" style="color: red;">BUSTED</span>
            </div>

            <div ng-show="showButtons()" bs-panel title="">
                <div bs-panel class="form-actions">
                    <button class="btn btn-primary" ng-click="stop()">
                        Stopp
                    </button>
                    <button class="btn btn-primary" ng-click="hit()">
                        Hit
                    </button>
                    <button class="btn btn-primary">
                        Split
                    </button>
                    <button class="btn btn-primary">
                        Double
                    </button>
                </div>
            </div>
            <div ng-show="showNewGameButton()" bs-panel title="">
                <div bs-panel class="form-actions">
                    <button class="btn btn-primary" ng-click="newGame()">
                        Nytt Spill
                    </button>
                </div>
            </div>
        </form>
   </div>
</div>

