<div content-for="title">
    <span>Ny Quiz</span>
</div>


<div class="scrollable">
    <div class="scrollable-content container section">

        <form action="" id="" ng-submit="newquiz()">

            <div bs-panel title="">
                <input type="text" autofocus="true" ng-model="newquiz.name" label="Quiz Navn" bs-input autocorrect="off" autocapitalize="off" />

                <div bs-panel class="form-actions">
                    <button class="btn btn-primary">
                        Lag Ny Quiz
                    </button>
                </div>
            </div>
        </form>
   </div>
</div>

