<div content-for="title">
    <span>Ny Tid</span>
</div>


<div class="scrollable">
    <div class="scrollable-content container section">

        <form action="" id="">

            <div bs-panel title="">
                <input type="date" ng-model="addtime.date" label="Dato" bs-input />
                <select ng-model="addtime.project" ng-options="c.name for c in colors" label="Prosjekt" bs-input />
                <input type="text" ng-model="addtime.from" placeholder="Fra" label="Starttid" bs-input  autocorrect="off" autocapitalize="off" />
                <input type="text" ng-model="addtime.to"   placeholder="Til" label="Sluttid" bs-input autocorrect="off" autocapitalize="off" />

                <div bs-panel class="form-actions">
                    <!--<div content-for="navbarAction" duplicate>-->
                        <button class="btn btn-primary" ng-click="addTime()">
                            Lagre
                        </button>
                        <button  ng-show="addtime.isEdit == true" class="btn" ng-click="deleteTimeslot(addtime.id)">
                            Slett
                        </button>
                        <!--</div>-->
                </div>
            </div>
        </form>
        <div class="list-group">
            <div class="list-group-item">
                <p style="font-size: 20px;">Se oversikt over timer? <a href="/#/timeslots">Timeliste</a></p>
            </div>
        </div>

    </div>
</div>

