<div class="scrollable">
    <div class="scrollable-content container section">
        <div class="login-panel">
            <div class="vertical-spacer-50"></div>
            <div class="login-form">
                <form>
                    <div bs-panel title="Invoice">
                        <input id="Username" class="input-text-field" type="text" ng-model="username" autocorrect="off" autocapitalize="off" placeholder="Brukernavn"/>
                        <input id="Password" class="input-text-field" type="password" ng-model="password" autocorrect="off" autocapitalize="off" placeholder="Passord"/>
                    </div>
                    <div><input class="submit-button" type="submit" value="Logg På"  ng-click="login()"/></div>
                </form>
            </div>
        </div>
    </div>
</div>


