<div content-for="title">
    <span>Pålogging</span>
</div>


<div class="scrollable">
    <div class="scrollable-content container section">

        <form action="" id="" ng-submit="login()">

            <div bs-panel title="Pålogging">
                <input type="text" ng-model="login.username"    label="Brukernavn" bs-input />
                <input type="text" ng-model="login.password"    label="Passord" bs-input />

                <div bs-panel class="form-actions">
                    <!--<div content-for="navbarAction" duplicate>-->
                        <button class="btn btn-primary">
                            Logg på
                        </button>
                    <!--</div>-->
                </div>
        </form>

    </div>
</div>

