<div class="login-panel">
    <div class="vertical-spacer-50"></div>
    <div class="login-form">
        <form ng-submit="login()" ng-controller="ClientCtrl">
            <input id="Username" class="input-text-field" type="text" ng-model="username" autocorrect="off" autocapitalize="off" />
            <br/>
            <input id="Password" class="input-text-field" type="password" ng-model="password" autocorrect="off" autocapitalize="off" />
            <div><input type="submit"value="Login" /></div>
        </form>
    </div>

</div>

