<div content-for="title">
    <span>Pålogging</span>
</div>


<div class="scrollable">
    <div class="scrollable-content container section">

        <form action="" id="" ng-submit="login()">

            <div bs-panel title="">
                <input type="text" autofocus="true" ng-model="login.username"    label="Brukernavn" bs-input  autocorrect="off" autocapitalize="off" />
                <input type="text" ng-model="login.password"    label="Passord" bs-input autocorrect="off" autocapitalize="off" />

                <div bs-panel class="form-actions">
                    <!--<div content-for="navbarAction" duplicate>-->
                        <button class="btn btn-primary">
                            Logg på
                        </button>
                    <!--</div>-->
                </div>
            </div>
        </form>
        <div class="list-group">
            <div class="list-group-item">
                <p>Er du ny bruker? <a href="/#/register">Registrer her</a></p>
            </div>
        </div>

    </div>
</div>

