<div class="menu-panel">
    <ul class="nav nav-pills">
        <li><a href="#/home">Hjem</a></li>
        <li><a href="#/list">Matvarer</a></li>
        <li ng-show="isLoggedIn == true"><a href="#/profile">Min Side</a> </li>
        <li ng-show="isLoggedIn == true"><a href="#/users">Brukere</a> </li>

        <li><span class="horizontal-menu-spacer" ng-show="isLoggedIn == false">a</span></li>
        <li ng-show="isLoggedIn == false" class="menu-link-item"><a href="#/login">Logg På</a></li>
        <li ng-show="isLoggedIn == false" class="menu-link-item"><a href="#/register">Registrer</a></li>

        <li><span class="horizontal-menu-spacer" ng-show="isLoggedIn == true">a</span></li>
        <li ng-show="isLoggedIn == true"><a href="" ng-click="logout()">Logg Av</a></li>
    </ul>
</div>
