<div content-for="title">
    <span>Registrering</span>
</div>


<div class="scrollable">
    <div class="scrollable-content container section">

        <div style="text-align: center;padding: 5px;"><span style="font-size: 16px; color: orange">{{register.message}}</span></div>

        <form action="" id="" ng-submit="register()">

            <div bs-panel title="">
                <input autofocus="true" type="text" ng-model="register.username"           label="Brukernavn" bs-input autocorrect="off" autocapitalize="off" />
                <input type="text" ng-model="register.email"              label="E-Post" bs-input autocorrect="off" autocapitalize="off" />
                <input type="password" ng-model="register.password"       label="Passord" bs-input autocorrect="off" autocapitalize="off" />
                <input type="password" ng-model="register.verifyPassword" label="Verifiser Passord" bs-input autocorrect="off" autocapitalize="off" />

                <div bs-panel class="form-actions">
                    <!--<div content-for="navbarAction" duplicate>-->
                    <button class="btn btn-primary">
                        Registrer
                    </button>
                    <!--</div>-->
                </div>
            </div>
        </form>

        <div class="list-group">
            <div class="list-group-item">
                <p style="font-size: 20px;">Har du allerede en bruker? <a href="/#/login">Logg på her</a></p>
            </div>
        </div>

    </div>
</div>