<div content-for="title">
    <span>Registrering</span>
</div>


<div class="scrollable">
    <div class="scrollable-content container section">

        <form action="" id="" ng-submit="register()">

            <div bs-panel title="">
                <input type="text" ng-model="login.username"       label="Brukernavn" bs-input />
                <input type="text" ng-model="login.email"          label="E-Post" bs-input />
                <input type="text" ng-model="login.password"       label="Passord" bs-input />
                <input type="text" ng-model="login.verifyPassword" label="Verifiser Passord" bs-input />

                <div bs-panel class="form-actions">
                    <!--<div content-for="navbarAction" duplicate>-->
                    <button class="btn btn-primary">
                        Registrer
                    </button>
                    <!--</div>-->
                </div>
            </div>
        </form>

        <div class="list-group">
            <div class="list-group-item">
                <p>Har du allerede en bruker? <a href="/#/login">Logg på her</a></p>
            </div>
        </div>

    </div>
</div>