<div class="list-group">
    <div class="list-group-item">
        <p style="font-size: 20px;">Legg til timer? <a href="/#/addtime">Legg til tid</a></p>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <a ng-repeat="item in timeslots" ng-click="editTimeslot(item.id)" class="list-group-item">
                {{item.date}} {{item.project.name}} {{item.from}}-{{item.to}} <i class="fa fa-chevron-right pull-right"></i>
            </a>
        </div>
    </div>
</div>