<div ng-controller="ClientCtrl" class="users-panel">
    <h4>All Users</h4>
    <div>
    <table border="1">
        <th>Id</th><th>Username</th><th>Email</th><th>Date</th><th></th>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td><td>{{user.username}}</td><td>{{user.email}}</td><td>{{user.time}}</td><td><button ng-click="deleteUser(user.id)">Delete</button></td>
        </tr>
    </table>
    </div>
    <br/>
    <div>
        <form ng-submit="register()">
            <table>
                <tr><td>Username: </td><td><input type="text" ng-model="username" /></td></tr>
                <tr><td>Email: </td><td><input type="text" ng-model="email" /></td></tr>
                <tr><td>Password: </td><td><input type="password" ng-model="password" /></td></tr>
                <tr><td>Verify Password: </td><td><input type="password" ng-model="verifyPassword" /></td></tr>
                <tr><td colspan="2" style="text-align: center"><input type="submit"value="Add User" /></td></tr>
            </table>
        </form>
    </div>
</div>
